<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
    <body>
        <h1><%= title %></h1>
        <p><%= clothing %></p>
        <br>
        <a href="/new">Create New Table</a>
        <a href="/new">Update Existing Table</a>
        <a href="/new">Delete Existing Table</a>
    </body>
</html>