<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1>Add New Game Title</h1>
  <form action="/manage/newTitle" method="POST">
    <label for="gameTitle">Game Title: </label>
    <input type="text" name="gameTitle" id="gameTitle" required>
    <label for="releaseDate">Release Date: </label>
    <input type="date" name="releaseDate" id="releaseDate" required>
    <button type="submit">Submit</button>
  </form>
  <h1>Add New Game Genre</h1>
  <form action="/manage/newGenre" method="POST">
    <label for="genre">Genre: </label>
    <input type="text" name="genre" id="genre" required>
    <label for="genreDesc">Description: </label>
    <input type="text" name="genreDesc" id="genreDesc" required>
    <button type="submit">Submit</button>
  </form>
  <h1>Add New Game Developer</h1>
  <form action="/manage/newDeveloper" method="POST">
    <label for="studio">Studio: </label>
    <input type="text" name="studio" id="studio" required>
    <label for="founded">Founded: </label>
    <input type="number" name="founded" id="founded" required>
    <button type="submit">Submit</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>